<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="${book.getName()+ ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>


<div th:if="${owner}">
  <span>The book is taken by</span> <span th:href="@{/people/{id}(id=${owner.getId()})}" th:text="${owner.getName()}">dd</span>

  <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Release book">
  </form>
</div>

<div th:if="${people}">
  <span>The book is free. To whom should it be assigned?</span>
  <form th:method="PATCH" th:action="@{/books/{id}/set-owner(id=${book.getId()})}">
    <label for="person">Choose person:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
      <option th:each="person : ${people}" th:value="${person.getId()}"
              th:text="${person.getName()}">value</option>
    </select>
    <input type="submit" value="Set as owner" />
  </form>
</div>

<hr/>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>